@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* ========== 變數定義 ========== */
$primary-color: #57A203;
$primary-color-100: #F5FEE7;
$secondary-color: #E8FEC5;
$neutral-color: #212529;
$neutral-color-600:#798797;
$light-gray: #6C757D;
$border-color: #DEE2E6;
$light-bg: #F5FEE7;
$highlight-green: #C0FA73;

/* ========== Breakpoints ========== */
$mobile: 992px;


/* ========== Mixin ========== */
@mixin hover-primary {
  &:hover {
    color: $primary-color;
  }
}

@mixin transition {
  transition: 0.3s;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@import './base/reset.scss';

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}


h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

/* ========== Container ========== */
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.row {
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
}
.row-column{
  flex-direction: column;
}


.col-1{
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12);
}
.col-5{
  width: calc(100% / 12 * 5);
}
.col-6{
  width: calc(100% / 12 * 6);
}
.col-7{
  width: calc(100% / 12 * 7);
}
.col-12{
  width: calc(100% / 12 * 12);
}
.col-sm-12{
  @include mobile {
    width: calc(100% / 12 * 12);
  }
}



@media (max-width: 576px) {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }
  
	/* 手機版格線系統總共是 4 欄、gap 為 12px */
  .col-sm-1 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4);
  }
}
@import './layout/header.scss';
@import './layout/footer.scss';


/* ========== Breadcrumb ========== */
.breadcrumb {
  display: flex;
  align-items: center;
  margin-top: 36px;

  a {
    color: #6C757D;

    &:hover {
      color: $primary-color;
    }
  }

  .sep {
    margin: 0 12px;
    opacity: 0.3;
  }

  .current {
    font-weight: 500;
    color: $neutral-color;
  }

  @media (max-width:$mobile) {
    margin-top: 24px;
  }

}

@import './pages/index.scss';
@import './pages/product-list.scss';
@import './pages/product-detail.scss';
@import './pages/brand_store.scss';
@import './pages/favorites.scss';
@import './pages/login.scss';

