<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>鞋子電商|首頁</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- <link rel="stylesheet" href="../assets/scss/css/style.css"> -->

</head>

<body>
        <%- include('./layout/header-index'); -%>
   
    <div class="banner">
        <div class="banner-content">
            <h1>URBNSTEP</h1>
            <h2>Your Step, Your Statement</h2>
            <a href="./product-list.html">立即選購</a>
        </div>
        <picture>
            <source srcset="../assets/scss/images/2025-week3-4/banner-sm.png" media="(max-width:768px)">
            <img src="../assets/scss/images/2025-week3-4/banner.png" alt="">
        </picture>
    </div>

    <section class="index new">
        <div class="container">
            <h2 class="index-title">New Arrival</h2>
            <h3 class="index-sub-title new">新品上市</h3>
            <div class="index-new">
                <div class="index-new-card">
                    <a href="./product-list.html">
                        <img src="../assets/scss/images/2025-week3-4/new-1.png" alt="new-1">
                    </a>
                    <p class="index-new-name">Monoverse</p>
                    <p class="index-new-price">NT$3,600</p>
                </div>
                <div class="index-new-card">
                    <a href="./product-list.html">
                        <img src="../assets/scss/images/2025-week3-4/new-2.png" alt="new-2">
                    </a>
                    <p class="index-new-name">PLATFORM 404</p>
                    <p class="index-new-price">NT$2,600</p>
                </div>
                <div class="index-new-card">
                    <a href="./product-list.html">
                        <img src="../assets/scss/images/2025-week3-4/new-3.png" alt="new-3">
                    </a>
                    <p class="index-new-name">URBN Force</p>
                    <p class="index-new-price">NT$3,200</p>
                </div>
                <div class="index-new-card">
                    <a href="./product-list.html">
                        <img src="../assets/scss/images/2025-week3-4/new-4.png" alt="new-4">
                    </a>
                    <p class="index-new-name">Mode90</p>
                    <p class="index-new-price">NT$4,000</p>
                </div>
            </div>
        </div>
    </section>
    <section class="index">
        <div class="container">
            <h3 class="index-sub-title">熱銷補貨</h3>
            <div class="index-hot">
                <a href="./product-list.html">
                    <img src="../assets/scss/images/product-3.png" alt="hot-1">
                </a>
                <a href="./product-list.html">
                    <img src="../assets/scss/images/product.png" alt="hot-2">
                </a>
                <a href="./product-list.html">
                    <img src="../assets/scss/images/product-6.png" alt="hot-3">
                </a>
                <a href="./product-list.html">
                    <img src="../assets/scss/images/product-9.png" alt="hot-4">
                </a>
            </div>
        </div>
    </section>
    <section class="index co">
        <div class="co-brand">
            <div class="co-brand-info">

                <h2>URBNSTEP <span>x</span> Kevin Chen</h2>
                <h3>跨界聯名，限量發售</h3>
                <h4>新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！</h4>
                <a href="#">立即搶購</a>

            </div>
            <picture>
                <source srcset="../assets/scss/images/2025-week3-4/banner-co-branded-sm.png" media="(max-width:768px)">
                <img src="../assets/scss/images/2025-week3-4/banner-co-branded.png" alt="">
            </picture>


        </div>
    </section>
    <section class="index">
        <div class="container">
            <h3 class="index-sub-title">依系列選購</h3>
            <div class="index-series">
                <a class="series-card" href="./product-list.html">
                    <img src="../assets/scss/images/product-6.png" alt="series-1">
                    <div class="series-info">
                        <h3>URBN RUNNER</h3>
                        <p>慢跑系列</p>
                    </div>
                </a>
                <a class="series-card" href="./product-list.html">
                    <img src="../assets/scss/images/2025-week3-4/product-10.png" alt="series-2">
                    <div class="series-info">
                        <h3>STREETMODE</h3>
                        <p>滑板系列</p>
                    </div>
                </a>
                <a class="series-card" href="./product-list.html">
                    <img src="../assets/scss/images/product-9.png" alt="series-3">
                    <div class="series-info">
                        <h3>CHUNK DISTRICT</h3>
                        <p>厚底系列</p>
                    </div>

                </a>
                <a class="series-card" href="./product-list.html">
                    <img src="../assets/scss/images/2025-week3-4/product-11.png" alt="series-4">
                    <div class="series-info">
                        <h3>COLLAB ZONE</h3>
                        <p>聯名企劃</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="index">
        <div class="container">
            <div class="index-inspiration">
                <h3 class="index-sub-title">穿搭靈感</h3>
                <div class="wallpaper">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-1.png" alt="">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-2.png" alt="">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-4.png" alt="">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-5.png" alt="">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-3.png" alt="" class="big-a">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-10.png" alt="" class="big-b">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-6.png" alt="">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-7.png" alt="">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-8.png" alt="">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-9.png" alt="">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-11.png" alt="">
                    <img src="../assets/scss/images/2025-week3-4/inspiration-12.png" alt="">
                </div>
            </div>
        </div>

    </section>

   <%- include('./layout/footer'); -%>

   
 <script type="module" src="../main.js"></script>
</body>


</html>